.decoration-card {
  &-image {
    border-radius: 4px;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    img {
      @include pos-center;
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &-desc {
    p {
      @include line-clamp(2);
      margin: 10px 0;
      overflow: hidden;

      span {
        color: $blue-aqua;
        font-weight: 700;
        word-break: keep-all;
        overflow-wrap: break-word;

        &::after {
          content: ' ';
        }
      }
    }
  }
}
