$black: #000;
$dark-black: #292929;
$dark: #424242;
$charcoal: #2f3438;
$primary: #3f4150;
$secondary: #757575;
$thirdly: #828c94;
$fourthly: #9e9e9e;
$tertiary: #b2b3b9;
$light-gray: #f7f8fa;
$border: #e0e2e7;
$background: #f7f8fa;
$white: #fff;
$blue: #3da5f5;
$blue-aqua: #0aa5ff;
$blue-dark: #35c5f0;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
